<div class="top-menu">

    <img class="logo"
         src="https://angular-academy.s3.amazonaws.com/main-logo/main-page-logo-small-hat.png">

</div>


<div class="courses"  >

    <!-- <course-card (click)="onCardClick()" [course] = "course"></course-card> -->

    <!-- Custom Event -->
    <!-- the CSS class (is-first and is-last) will be activated if it is the first or last element -->
    <course-card
        *ngFor="let course of Courses; index as i; first as isFirst; last as isLast;
                even as isEven; odd as isOdd"
        (courseSelected)="onCourseSelected($event)"
        [class.is-first] = "isFirst"
        [class.is-last] = "isLast"
        [class.is-even] = "isEven"
        [class.is-odd] = "isOdd"
        [course]="course"  [cardIndex] = "i + 1">
    </course-card>
</div>


